numpy==1.24
jsonlines==4.0.0
torch==2.1.0
transformers==4.44.0
torchaudio==2.1.0
librosa
tensorboardX>=2.5
tqdm
absl-py
psutil
cloudpickle
ml-dtypes
tornado
openai-whisper
colorama
peft
sox
deepspeed
librosa
gxl_ai_utils
jsonlines
